Welcome to your Garage, <%= current_user.name %>

<% if @bikes.empty? %>
	Do you want to <%= link_to 'park your bike', new_bike_path %>?
<% else %>
	<ul>
	<% @bikes.each do |bike| %>
		<li><%= bike.name %></li>
	<% end %>
	</ul>
<% end %>
